.temperature {
}

.description {
    margin-bottom: auto !important;
}

.center-content {
    text-align: center;
}

.left-content {
    text-align: left;
}


.weather-indicator-card {
    background-color: #ffffff6e;
    border-radius: 10px;
    padding-top: 18px;
    padding-right: 2px;
}

.current-temp {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

